<div class="modus">
  <div class="container form-center">
    <h2 class="title is-2">Create Module</h2>

    <%= form_for(@modu, url: course_modus_path(@course)) do |f| %>
      <%= render "fields.html", f: f, submit: "Create" %>
    <% end %>
  </div>
</div>
