<div class="modus">
  <section class="section">
    <div class="container">
      <h2 class="content-title title is-2"><%= @modu.title %></h2>
      <div class="content">
        <%= markdown(@modu.content) %>
      </div>
    </div>
  </section>
</div>
