<div class="courses">
  <div class="container form-center">
    <h2 class="title is-2">Create Course</h2>

    <%= form_for(@course, url: courses_path) do |f| %>
      <%= render "fields.html", f: f, submit: "Create" %>
    <% end %>
  </div>
</div>
