/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #222;
$notification-radius: 0;

@import "bulma";

#name {
    border: 1px solid white;
    margin: 1rem;
}

#logo {
    margin-bottom: 0.2rem;
}

.notification {
    margin-bottom: 0rem !important;
}

.users {
    .form-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-height {
        height: 100vh;
    }

    h2 {
        margin-top: 2rem;
    }

    form {
        width: 300px;
    }
}

.courses {
    .box a {
        color: inherit;
    }

    .form-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin-top: 2rem;
    }

    form {
        width: 500px;
    }

    form textarea {
        height: 200px;
    }
}

.modus {
    .box.completed {
        background-color: $success;
        color: $white;

        .title {
            color: $white;
        }
    }

    .box a {
        color: inherit;
    }

    .content-title {
        margin-bottom: 3rem;
    }

    .comment {
        margin-bottom: 1rem;

        h5 {
            margin-bottom: 0.5rem;
        }

        p {
            margin-top: 0rem;
        }
    }

    .form-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin-top: 2rem;
    }

    form {
        width: 500px;
    }

    .markdown-area {
        height: 200px;
    }

    .new_comment {
        margin-bottom: 1.5rem;
    }

    .comment-area {
        height: 80px;
    }
}
